@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@keyframes active {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html,
body {
  background-color: #fff;
  height: 100%;
  width: 100%; }

.banner {
  background-color: #121212;
  padding: 1rem 0rem; }
  .banner .wrapper {
    justify-content: center; }

.wrapper {
  display: flex;
  margin: 0% auto;
  width: 90%;
  max-width: 1350px; }

img {
  height: 100%;
  width: 100%;
  vertical-align: bottom; }

html {
  font-size: 62.5%; }

body {
  color: #121212;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

.banner--text {
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6; }

.bag-area--text {
  color: #121212;
  display: block;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize; }
  .bag-area--text .fa-user,
  .bag-area--text .fa-shopping-bag {
    margin-left: 1.6rem; }

.top {
  font-weight: 500;
  line-height: 1.6;
  text-transform: uppercase; }

.title {
  font-size: 5.2rem;
  font-weight: 500;
  line-height: 1.6;
  text-transform: capitalize; }

.text {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2.5rem; }

.cta {
  display: inline-block;
  background-color: #121212;
  border: 2px solid #121212;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 3rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease; }
  .cta:hover {
    background-color: #fff;
    color: #121212; }

.slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  align-items: center; }
  .slide__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 60%; }
  .slide__img {
    overflow: hidden;
    transform: translateY(5rem);
    height: 800px;
    width: 100%; }
    .slide__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.active {
  animation: active .5s ease; }

.slider__container {
  display: flex;
  align-items: center; }

.header {
  border-bottom: 1px solid #e9e9de;
  padding: 2.5rem 0rem; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
  .header .search-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .search-box .fa-search {
      font-size: 2rem;
      margin-right: 1.6rem; }
    .header .search-box .search {
      background-color: #fff;
      border: none;
      color: rgba(18, 18, 18, 0.5);
      font-family: 'Roboto', sans-serif;
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      outline-width: 0;
      padding: 1rem 0rem; }
      .header .search-box .search::placeholder {
        color: rgba(18, 18, 18, 0.5);
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 500; }
  .header .logo-container a img {
    height: 3.6rem; }
  .header .bag-area {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .bag-area .account {
      margin-right: 5rem; }

.nav {
  padding: 2.5rem 0rem; }
  .nav ul {
    display: flex;
    justify-content: center;
    width: 100%; }
    .nav ul:hover a:not(:hover) {
      opacity: .5; }
  .nav li {
    list-style: none; }
    .nav li:not(:last-child) {
      margin-right: 3.5rem; }
    .nav li:last-child a {
      color: red; }
  .nav a {
    color: #121212;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease; }

.hero {
  height: 100%;
  width: 100%;
  background-color: #dde6ef; }
