//COLORS
$white: #fff;
$black: #121212;
$light-blue: #dde6ef;
$dark-grey: #e9e9de;
$very-light-grey: #fbf8f8;

//PADDINGS
$padding-small: 2.5rem 0rem;
$padding-medium: 5rem 0rem;
$padding-large: 7.5rem 0rem;
$padding-extra-large: 10rem 0rem;