@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    color: $black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.banner {
    &--text {
        color: $white;
        font-weight: 300;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.6;
    }
}