.hero {
    height: 100%;
    width: 100%;
    background-color: $light-blue;
}

.selected {
    margin-top: 6rem;
    padding: $padding-extra-large;

    &__content {
        width: 80%;
        margin: 0rem auto 2.5rem auto;
    }
}

.info-bar {
    background-color: $dark-grey;
    padding: $padding-medium;

    & .wrapper {
        @include space-between-center;
        width: 70%;
    }

    &__item {
        text-align: center;

        & p {
            line-height: 1.6;
            margin-top: 1.5rem;
        }
    }
}